.nav {
   display: flex;
   width: 603px;
   gap: 43px;
   justify-content: space-between;
}
.body_fixed {
   overflow: hidden;
}
.nav_link-header {
   font-weight: 400;
   font-size: 18px;
   text-decoration: none;
   text-transform: uppercase;
   color: white;
}
.header_inner {
   padding: 44px 0px 60px 0px;
   display: flex;
   justify-content: center;
   position: relative;
}
.burger-btn {
   background-image: url("../../resourses/mobile/burger_mobile-version.png");
   width: 44px;
   height: 32px;
   position: absolute;
   top: 26px;
   left: calc(50% - 15px);
   display: none;
}
.burger__content {
   width: 100%;
   height: 100vh;
   display: flex;

   flex-direction: column;
   align-items: center;
}
.burger {
   display: none;
}
.burger-btn_open {
   background-image: url("../../resourses/mobile/close-burger.png");
   background-repeat: no-repeat;
}
.link_from-site {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 20px;
}
.off-site_link {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   gap: 25px;
   margin-top: 50px;
}
.link_from-site > .burger_link {
   font-weight: 400;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   color: white;
   text-decoration: none;
}
.off-site_link > .burger_link {
   font-weight: 700;
   font-size: 35px;
   line-height: 73.52%;
   letter-spacing: -0.06em;
   text-align: center;
   color: white;
   text-decoration: none;
}
@media (max-width: 1199px) {
}
@media (max-width: 767px) {
   .nav {
      display: none;
   }
   .burger-btn {
      display: block;
   }
   .burger_open {
      display: block;
   }
}
